<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="recordAction" class="cn.itcast.pro.action.RecordAction" scope="prototype">
        <property name="recordService" ref="recordService"/>
        <property name="exbEntService" ref="exbEntService"/>
    </bean>
    <bean id="recordEntAction" class="cn.itcast.pro.action.RecordEntAction" scope="prototype">
        <property name="recordService" ref="recordService"/>
        <property name="exbEntService" ref="exbEntService"/>
        <property name="exbAgentService" ref="exbAgentService"/>
     </bean>

    <bean id="recordBillAction" class="cn.itcast.pro.action.RecordBillAction" scope="prototype">
        <property name="exbBillService" ref="exbBillService"/>
        <property name="recordService" ref="recordService"/>
    </bean>

</beans>
