<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- 懒加载，配合web.xml中配置的 openSessionInViewFilter -->
		<property name="hibernate.enable_lazy_load_no_trans">true</property>


        <mapping resource="cn/itcast/pro/domain/ExbGoodsCancelEntList.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/ExbGoodsCancelGList.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/ReDpEntlist.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/ReDpHead.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxDeclbillDocList.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxDeclbillEntList.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxDeclbillGlist.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxDeclbillHead.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxExbAgentList.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxExbBillList.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxExbEntList.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxExbHead.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxWrntHead.hbm.xml"/>
        <mapping resource="cn/itcast/pro/domain/TWinxWrntList.hbm.xml"/>


    </session-factory>
</hibernate-configuration>

